
/* Navbar CSS*/

.bg-dark {
    background-color: #343a40;
}

#nameNick {
    background-color: #2f88ea;
    color: white;
}


/* Container */
* {
    box-sizing: border-box;
}

body {
    background-image: url("../Images/background-pic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: white;
    width: 70%;
    margin: 80px 0px 100px 40px;
    padding: 10px;
}

h1 {
    color: #2f88ea;
}
.float-left {
    float: left;
}

.profile-pic {
    margin: 20px;
}

ul {
    overflow: hidden;
}

.col-margin {
    margin: 0 0 10px 0;
}

/*Sticky footer*/

.text-white-50 {
    color: rgba(255, 255, 255, .5);
}

.py-4 {
    padding-bottom: 1rem!important;
    padding-top: 1rem!important;
}

.footer {
    display: block;
    
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}